*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
   font-family: 'Times New Roman', Times, serif;
   font-size: 100%;
    height: 100%;
}

.head-container{
    position:relative; 
    width: 100%;
    height: 45rem;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background:linear-gradient(transperant, black, 30) url("./Assets/dying-light-2.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(); */
}
.head-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.3);
    z-index: 0;
}


.header{
    position: absolute;
    height: 7vh;
    width: 80%;
    display: flex;
    color: white;
    flex-direction: row;
    
    backdrop-filter: blur(14px);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    
}
.header .header-nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-right: auto;
    width: 30%;
}
.header-nav-items .nav-item{
    color: white;
    font-size: 1.1rem;
    padding: 0.5rem;
    transition: 100ms;
}
.header-nav-items .nav-item:hover{
    border: 1px solid white;
}
.header-nav-items .nav-item a{ 
    all: unset;
}

.header .header-title{
    width: 40%;
    text-align: center;
    font-size: 2rem;
    font-weight: 1000;
}
.header .header-title span{
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.header .header-icons{
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    display: flex;
    padding: 0.5rem;
    position: relative;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    

}
.header .header-icons .icon-items a{
    text-decoration: none;
    all: unset;
    padding: 1rem;
}

.bg-text-overlay{
    position: absolute;
    margin-top: 7vh;
    height: 30rem;
    width: 80%;
    display: flex;
    color: white;
}
.bg-info.game1{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bg-info-header{
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem 1rem 0rem 1rem;
    font-size: 2rem;
}
.bg-info-content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0rem 1rem 1rem 1rem;
    font-size: 2rem;
}
.bg-info-price{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    font-size: 2rem;
    
    gap: 1rem;
    align-items: center;
}
.bg-info-price button{
    all: unset;
    font-size: 1.2rem;
    background-color: #CD3D0F;
    padding: 0.5rem;
    border-radius: 1rem;
    font-weight: 500;
}

.head-cards{
    position: absolute;
    margin-top: 65vh;
    height: 14rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(transparent, black);
    align-items: center;    
    overflow-y: scroll;
}
.head-card-item{
    height: 80%;
    min-width: 18rem;
    margin: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 3rem;
    position: relative;
}
.head-card-item img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    filter: brightness(1);
    z-index: 0;
    transition: 0.3s;
}
.head-card-item:hover img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    filter: brightness(0.3);
    z-index: 0;
}

.head-card-item:hover span{
    position: absolute;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    z-index: 1;
}
.head-cards::-webkit-scrollbar{
    display: none;
}

.mid-container{
    background-image: linear-gradient(black, purple);
    height: 45rem;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.mid-header{
    width: 80%;
    text-align: center;
    
    padding: 1rem;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pdt-cards{
    width: 80%;
    margin-top:5rem;
    display: flex;
    gap: 1rem;
    background: transparent;
    flex-direction: row;
    overflow-y:hidden;
}
.card-item.horizontal{
    min-width: 20rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #af4261;
    box-shadow: 0.5rem 0.5rem 0.5rem black; 
}
.card-item.horizontal .card-info{
    display: flex;
    flex-direction: column;
}
.card-item.horizontal .card-info .card-infoText{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0rem 1rem 1rem 1rem;
}
.card-item.horizontal .card-info .card-infoText .card-content span{
    font-size: 1.5rem;
}
.card-item.horizontal .card-info .card-image img{

    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 4/3;
    object-fit: contain/cover;
    object-position: top center;
    height: 100%;
    width: 100%;
    
    object-fit: cover;
}
.card-item.horizontal .card-buttons{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    color: white;
}
.card-item.horizontal .card-buttons div a{
    all: unset;
}
.card-item.horizontal .card-buttons .btn{
    padding: 0.5rem;
    font-size: 1rem;
}


.bottom-container{
    background-image:linear-gradient(purple,#001E95);
    width: 100%;
    height: 40rem;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.bot-header{
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bot-cards{
    width: 80%;
    margin-top:5rem;
    display: flex;
    gap: 1rem;
    background: transparent;
    flex-direction: row;
    overflow-y:hidden;
}
.footer{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.starred{
    color: rgb(202, 177, 36);
}
